{% load i18n %}
{% load allauth %}

{% block content %}
    <h2>{% trans "Redirecting to Google..." %}</h2>

    <!-- Create a hidden form to post data -->
    <form id="googleLoginForm" action="{% url 'google_login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="provider" value="google" />
    </form>

    <script type="text/javascript">
        // Automatically submit the form to initiate Google login with POST
        document.getElementById('googleLoginForm').submit();
    </script>
{% endblock content %}
