DEBUG=true
ALLOWED_HOSTS=localhost
SECRET_KEY=django-insecure-@kv*c4l7q+hn1r6&@22_v0rc)2p3!9h!s(@mw3*eb3r8if-x3%
DB_NAME=admin_db
DB_USER=admin_role
DB_PASSWORD=admin_password
DB_HOST=db
DB_PORT=5432
